body{
	font-family: oswald, sans-serif;
	font-size: 1.5rem;
	color:darkslategrey;
	letter-spacing: 2px;
}

.wrapper{
	width:64%;
	margin:1rem auto;
}

span{
	color:orangered;
	padding-left: 1rem;
}

li{
	list-style-type: none;
}