*{
    margin:0;
    padding:0;
    color:darkslategrey;
    font-family: menlo;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.person{
    border:1px solid lightgrey;
    width:14rem;
    text-align: center;
    margin:0.25rem;
    padding:1rem;
}

img{
    border-radius: 50%;
    width:4rem;
    display: block;
    margin:0 auto;
    padding:1rem;
}

p{
    font-size: 0.8rem;
}

.name{
    color:orangered;
    font-size: 1.1rem;
}
